#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
    background-color: rgb(221, 129, 17); 
}
#clockDescription {
    text-align: center;
    font-size: 24px;
    position: relative;
    animation: move 5s linear infinite; 
  }
  @keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    } 
  }
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.6;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
} 
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    
} 